body {
  background: linear-gradient(45deg, yellow, orange);
}

.App {
  text-align: center;
}

.parent-container {
  margin: 20px auto;
  text-align: left;
  width: 60%;
}

.container-button {
  padding: 10px;
  font-size: 20px;
}

@media only screen and (max-width: 720px){
  .parent-container {
    width: 90%;
  }
}